@import "main";

.container {
    width: 600px;
    margin: 0 auto;
    color: $text-color;

    h1 {
        text-align: center;
    }

    .left_pane {
        color: black;
        border: black solid 1px;
        padding: 5px;
    }

    .right_pane {
        color: black;
        border: black solid 1px;
        padding: 10px;
    }
}
