<div class='settings'>
  <div class='settings__translate-lang'>
    <label>
      Язык
      <select class='settings__select'>
        <option value='ru|en'>Английский</option>
      </select>
    </label>
  </div>
  <div class='settings__words-count'>
    <label>
      Количество слов в упражнении
      <select class='settings__select'>
        <option value='10'>10</option>
        <option value='15'>15</option>
        <option value='20'>20</option>
      </select>
    </label>
  </div>
  <div class='settings__time'>
    <label>
      Время на упражнение
      <select class='settings__select'>
        <option value='10'>10 минут</option>
        <option value='20'>20 минут</option>
        <option value='30'>30 минут</option>
      </select>
    </label>
  </div>
</div>
